/* PP Editorial New Fonts */
@font-face {
    font-family: 'PPEditorialNew';
    src: url('./PPEditorialNew-Regular.woff2') format('woff2'),
         url('./PPEditorialNew-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PPEditorialNew';
    src: url('./PPEditorialNew-Italic.woff2') format('woff2'),
         url('./PPEditorialNew-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'PPEditorialNew';
    src: url('./PPEditorialNew-Ultrabold.woff2') format('woff2'),
         url('./PPEditorialNew-Ultrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'PPEditorialNew';
    src: url('./PPEditorialNew-UltraboldItalic.woff2') format('woff2'),
         url('./PPEditorialNew-UltraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'PPEditorialNew';
    src: url('./PPEditorialNew-Ultralight.woff2') format('woff2'),
         url('./PPEditorialNew-Ultralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'PPEditorialNew';
    src: url('./PPEditorialNew-UltralightItalic.woff2') format('woff2'),
         url('./PPEditorialNew-UltralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

/* PP Neue Montreal Fonts */
@font-face {
    font-family: 'PPNeueMontreal';
    src: url('./PPNeueMontreal-Bold.woff2') format('woff2'),
         url('./PPNeueMontreal-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PPNeueMontreal';
    src: url('./PPNeueMontreal-Book.woff2') format('woff2'),
         url('./PPNeueMontreal-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PPNeueMontreal';
    src: url('./PPNeueMontreal-Italic.woff2') format('woff2'),
         url('./PPNeueMontreal-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'PPNeueMontreal';
    src: url('./PPNeueMontreal-Medium.woff2') format('woff2'),
         url('./PPNeueMontreal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PPNeueMontreal';
    src: url('./PPNeueMontreal-SemiBoldItalic.woff2') format('woff2'),
         url('./PPNeueMontreal-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'PPNeueMontreal';
    src: url('./PPNeueMontreal-Thin.woff2') format('woff2'),
         url('./PPNeueMontreal-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
